@import './variables.css';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

body {
  position: relative;
}

body.modal-open {
  overflow: hidden;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.page-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  width: 100%;
  max-width: 1230px;
  height: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.btn {
  border: none;
  border-radius: 2px;
  padding: 8px 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 4px;
}

.primary-btn {
  border: 1px solid var(--daybreak-blue---blue-6);
  background: var(--daybreak-blue---blue-6);
  color: var(--gray---gray-1);
}

.outline-btn {
  border: 1px solid var(--gray---gray-5);
  background: var(--gray---gray-1);
  color: var(--gray---gray-8);
}

.logo {
  display: flex;
  gap: 11px;
  align-items: center;
}

.logo-img {
  height: 33px;
}

.logo-title {
  font-weight: 400;
  font-size: 15px;
  color: var(--gray---gray-10);
}
