:root {
	--gray---gray-1: #fff;
	--gray---gray-2: #fafafa;
	--gray---gray-3: #f5f5f5;
	--gray---gray-4: #e8e8e8;
	--gray---gray-5: #d9d9d9;
	--gray---gray-6: #bfbfbf;
	--gray---gray-7: #8c8c8c;
	--gray---gray-8: #595959;
	--gray---gray-9: #262626;
	--gray---gray-10: #000;
	--daybreak-blue---blue-1: #e6f7ff;
	--daybreak-blue---blue-2: #bae7ff;
	--daybreak-blue---blue-3: #91d5ff;
	--daybreak-blue---blue-4: #69c0ff;
	--daybreak-blue---blue-5: #40a9ff;
	--daybreak-blue---blue-6: #1890ff;
	--daybreak-blue---blue-7: #096dd9;
	--daybreak-blue---blue-8: #0050b3;
	--daybreak-blue---blue-9: #003a8c;
	--daybreak-blue---blue-10: #002766;
	--dust-red---red-1: #fff1f0;
	--dust-red---red-2: #ffccc7;
	--dust-red---red-3: #ffa39e;
	--dust-red---red-4: #ff7875;
	--dust-red---red-5: #ff4d4f;
	--dust-red---red-6: #f5222d;
	--dust-red---red-7: #cf1322;
	--dust-red---red-8: #a8071a;
	--dust-red---red-9: #820014;
	--dust-red---red-10: #5c0011;
	--volcano---volcano-1: #fff2e8;
	--volcano---volcano-2: #ffd8bf;
	--volcano---volcano-3: #ffbb96;
	--volcano---volcano-4: #ff9c6e;
	--volcano---volcano-5: #ff7a45;
	--volcano---volcano-6: #fa541c;
	--volcano---volcano-7: #d4380d;
	--volcano---volcano-8: #ad2102;
	--volcano---volcano-9: #871400;
	--volcano---volcano-10: #610b00;
	--sunset-orange---orange-1: #fff7e6;
	--sunset-orange---orange-2: #ffe7ba;
	--sunset-orange---orange-3: #ffd591;
	--sunset-orange---orange-4: #ffc069;
	--sunset-orange---orange-5: #ffa940;
	--sunset-orange---orange-6: #fa8c16;
	--sunset-orange---orange-7: #d46b08;
	--sunset-orange---orange-8: #ad4e00;
	--sunset-orange---orange-9: #873800;
	--sunset-orange---orange-10: #612500;
	--calendula-gold---gold-1: #fffbe6;
	--calendula-gold---gold-2: #fff1b8;
	--calendula-gold---gold-3: #ffe58f;
	--calendula-gold---gold-4: #ffd666;
	--calendula-gold---gold-5: #ffc53d;
	--calendula-gold---gold-6: #faad14;
	--calendula-gold---gold-7: #d48806;
	--calendula-gold---gold-8: #ad6800;
	--calendula-gold---gold-9: #874d00;
	--calendula-gold---gold-10: #613400;
	--sunrise-yellow---yellow-1: #feffe6;
	--sunrise-yellow---yellow-2: #ffffb8;
	--sunrise-yellow---yellow-2: #fffb8f;
	--sunrise-yellow---yellow-4: #fff566;
	--sunrise-yellow---yellow-5: #ffec3d;
	--sunrise-yellow---yellow-6: #fadb14;
	--sunrise-yellow---yellow-7: #d4b106;
	--sunrise-yellow---yellow-8: #ad8b00;
	--sunrise-yellow---yellow-9: #876800;
	--sunrise-yellow---yellow-10: #614700;
	--lime---lime-1: #fcffe6;
	--lime---lime-2: #f4ffb8;
	--lime---lime-3: #eaff8f;
	--lime---lime-4: #d3f261;
	--lime---lime-5: #bae637;
	--lime---lime-6: #a0d911;
	--lime---lime-7: #7cb305;
	--lime---lime-8: #5b8c00;
	--lime---lime-9: #3f6600;
	--lime---lime-10: #254000;
	--polar-green---green-1: #f6ffed;
	--polar-green---green-2: #d9f7be;
	--polar-green---green-3: #b7eb8f;
	--polar-green---green-4: #95de64;
	--polar-green---green-5: #73d13d;
	--polar-green---green-6: #52c41a;
	--polar-green---green-7: #389e0d;
	--polar-green---green-8: #237804;
	--polar-green---green-9: #135200;
	--polar-green---green-10: #092b00;
	--cyan---cyan-1: #e6fffb;
	--cyan---cyan-2: #b5f5ec;
	--cyan---cyan-3: #87e8de;
	--cyan---cyan-4: #5cdbd3;
	--cyan---cyan-5: #36cfc9;
	--cyan---cyan-6: #13c2c2;
	--cyan---cyan-7: #08979c;
	--cyan---cyan-8: #006d75;
	--cyan---cyan-9: #00474f;
	--cyan---cyan-10: #002329;
	--geek-blue---geekblue-1: #f0f5ff;
	--geek-blue---geekblue-2: #d6e4ff;
	--geek-blue---geekblue-3: #adc6ff;
	--geek-blue---geekblue-4: #85a5ff;
	--geek-blue---geekblue-5: #597ef7;
	--geek-blue---geekblue-6: #2f54eb;
	--geek-blue---geekblue-7: #1d39c4;
	--geek-blue---geekblue-8: #10239e;
	--geek-blue---geekblue-9: #061178;
	--geek-blue---geekblue-10: #030852;
	--golden-purple---purple-1: #f9f0ff;
	--golden-purple---purple-2: #efdbff;
	--golden-purple---purple-3: #d3adf7;
	--golden-purple---purple-4: #b37feb;
	--golden-purple---purple-5: #9254de;
	--golden-purple---purple-6: #722ed1;
	--golden-purple---purple-7: #531dab;
	--golden-purple---purple-8: #391085;
	--golden-purple---purple-9: #22075e;
	--golden-purple---purple-10: #120338;
	--magenta---magenta-1: #fff0f6;
	--magenta---magenta-2: #ffd6e7;
	--magenta---magenta-3: #ffadd2;
	--magenta---magenta-4: #ff85c0;
	--magenta---magenta-5: #f759ab;
	--magenta---magenta-6: #eb2f96;
	--magenta---magenta-7: #c41d7f;
	--magenta---magenta-8: #9e1068;
	--magenta---magenta-9: #780650;
	--magenta---magenta-10: #520339;
	--layout---bg: #f0f2f5;
	--layout---surface: #001529;
}